.Controls {
  display: flex;
  align-items: center;

  padding: 15px;

  font-weight: 700;

  background-color: rgba(220, 20, 60, 0.55);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  label {
    margin-right: 10px;
  }

  select {
    padding: 5px;
  }
}
