@import '../../../scss//palette';

.Toolbar {
  display: flex;

  border-bottom: 3px solid $border-tollbar;
}

.Nav {
  display: flex;
  align-items: center;

  justify-content: space-between;
  width: 100%;
  min-height: 70px;
}

