@import '../../../scss/variables';

.Toolbar {
  display: flex;
  background-color: #008080;

  //border-bottom: 3px solid $border-tollbar;
}

.Nav {
  display: flex;
  align-items: center;

  justify-content: space-between;
  min-height: 70px;
}

.BurgerMenu {
  display: none;
}

@media (max-width: 767px) {
  .BurgerMenu {
    display: block;
  }
}
