.Logo {
  padding: 0 15px;
  text-align: center;
}

.Logo a {
  margin-right: -15px;

  color: #000000;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .Logo {
    padding: 0;
  }
}
