.NavigationItem {
  margin-right: 20px;
}

.NavigationItem:last-child {
  margin-right: 0;
}

.Link {
  color: #000000;
  text-decoration: none;
}

.Link:hover,
.Link:focus {
  color: salmon;
}

.active {
  color: #d6554d;
}
