$main-color: #3b9be3;
$hover-cover: darken($main-color, 20%);

.Button {
  position: relative;
  display: flex;
  justify-content: center;

  margin-bottom: 10px;
  padding: 10px 15px;
  min-width: 100px;

  font: inherit;
  text-align: center;

  background-color: $main-color;
  border: 1px solid darken($main-color, 20%);
  outline: none;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: navy;
    background-color: $hover-cover;
  }

  &:active, &:focus {
    border-color: navy;
    background-color: $hover-cover;
  }

  &:disabled {
    border-color: #969696;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.MoreApartmentsButton {
  margin: 10px auto;
  min-width: 350px;
}

