$main-color: #3b9be3;
$hover-cover: darken($main-color, 20%);

.Button {
  position: relative;

  margin-bottom: 10px;
  padding: 10px 15px;
  min-width: 100px;

  font: inherit;
  text-align: center;

  background-color: $main-color;
  border: 1px solid darken($main-color, 20%);
  outline: none;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: navy;
    background-color: $hover-cover;
  }

  &:active, &:focus {
    border-color: navy;
    background-color: $hover-cover;
  }

  &:disabled {
    border-color: #969696;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.Favorite {
  background-color: #33ba39;
  border-color: #33ba39;

  &:hover {
    background-color: #338d38;
  }

  &:active, &:focus {
    background-color: #338d38;
  }
}

.Icon {
  padding-left: 50px;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    //margin-top: -10px;
    left: 10px;

    width: 20px;
    height: 20px;

    background-repeat: no-repeat;


  }
}

