.Main {
  display: flex;
  flex-direction: column;
  background-color: #e2e0e0;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;

  color: #ffffff;
  font-size: 20px;

  background-color: black;
  border-top: 4px solid crimson;
}
