.NavigationItems {
  display: flex;

  margin: 0;
  padding: 15px 0;
  min-width: 250px;

  list-style: none;
}

.MarginRight {
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .NavigationItems {
    display: none;
  }
}
