$family: 'Roboto', 'Helvetica', sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;
$weight-boldest: 900;


$main-link-color: #000000;
$hover-link-color: #dc143c;
$active-link-color: darken($hover-link-color, 15%);

$border-tollbar: #dc143c;
